.navElement {
    margin: auto;
    width: 20%;
    padding: 10px;
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

.MiniNavContainer {
    padding-bottom: 10px;
}

.miniNavSelectedButton {
    background-color: seagreen;
}