.navElement {
    width: 20%;
    padding: 15px;
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.navElement:hover {
    background-color: tomato;
    color: white;
}

.MiniNavContainer {
    padding-bottom: 10px;
}

.miniNavSelectedButton {
    background-color: seagreen;
}