#mainGameDiv {
}

.checked {
    background-color: red !important;
}

.possibleMove {
    background-color: lightgreen !important;
}

.selectedPiece {
    background-color: green !important;
}

.preMoveDest {
    background-color: #AAAAAA !important;
}

.preMoveSource {
    background-color: #646464 !important;
}