.container {
  width: 100%;
  height: 100px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--border);
  background: #262421;
  cursor: pointer;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}
